.footer {
  background-color: var(--color-brand);
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-container {
  width: 922px;
  margin: 0 auto;
}

.footer__menu {
  @include flexAlign($justify: space-between);
  @include font(14, 21, 400, 0);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__link {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-primary);
  }
  @include projTransitions(color);
}

.contacts {
  @include flexAlign($justify: space-between);
  @include font(14, 21, 600, 0);
  text-transform: uppercase;
}

.contacts__item {
  display: block;
  height: 60px;
  position: relative;
  &:not(:last-child) {
    // margin-right: 115px;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 100%;
      transform: translateX(53px);

      background-color: var(--color-white);
    }
  }
}

.contacts__link {
  display: inline-block;

  padding-top: 20px;
  padding-bottom: 20px;

  height: 100%;
  color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-primary);
  }
  @include projTransitions(color);
}

.social {
  @include flexAlign($justify: space-around);
}

.social__item {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;

  &:not(:last-child) {
    margin-right: 36px;
  }
}

.social__link {
  color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-primary);
  }
  @include projTransitions(color);
}

.footer__wrapper {
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);

  &--bottom {
    border-top: none;
  }
}
