.hero {
  max-width: 1920px;
  height: 900px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 150px;

  text-align: center;
  color: var(--color-white);

  background-color: var(--color-bg);
  background-image: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%),
    url('../img/hero-bg@1x.jpg');
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;

  @include pixelRatio {
    background-image: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%),
      url('../img/hero-bg@2x.jpg');
  }
}

.hero__button {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
