.list {
  @include flexAlign($justify: space-between);
  margin-bottom: 70px;
}
.list__item {
  width: 100%;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.form__label {
  display: block;
  position: relative;
  
  @include font(13, 20, 500, 0);

  &--margin {
    margin-bottom: 50px;
  }
  color: var(--color-white);
}

.form__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  outline: none;

  &::placeholder {
    visibility: hidden;
    @include projTransitions(color visibility);
  }

  @include projTransitions(color transform visibility);

  &:focus {
    &::placeholder {
      transition-delay: 0.2s;

      color: var(--color-third);
      visibility: visible;
    }

    & + .form__custom-label {
      top: 0;
      transform: translateY(-100%);
    }
  }

  &:not(:placeholder-shown) + .form__custom-label {
    top: 0;
    transform: translateY(-100%);
  }
}

.form__custom-label {
  position: absolute;

  left: 0;
  top: 50%;

  transform: translateY(-50%);

  @include projTransitions(color transform visibility);
}
